<!-- Main content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Section-->
                <section class="py-5">

                    <h2>Спасибо!</h2>
                    <p>Спасибо за покупку.</p>
                    <p>Мы отправим ваш товар как можно скорее.</p>

                </section>
            </div>
        </div>
    </div>
</div>