@model IEnumerable<string>


<ul class="list-group list-group-flush bg-light">
    <a class="list-group-item text-dark" 
        asp-action="Index"
        asp-controller="Product"
        asp-route-category="">
        Все
    </a>
  @foreach (string category in Model ?? Enumerable.Empty<string>())
    {
        <a class="list-group-item text-dark @(category == ViewBag.SelectedCategory
            ? "bg-secondary": "")" 
            asp-action="Index" 
            asp-controller="Product"
            asp-route-category="@category"
            asp-route-productPage="1">
            @category
        </a>
    }
</ul>