@model ProductsListViewModel

<!-- Main content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div id="categories" class="col-3">
                <!-- Section-->
                <section class="py-5">
                    @await Component.InvokeAsync("NavigationMenu", new { currentCategory = @Model?.CurrentCategory})
                </section>
            </div>
            <div class="col-9">
                <!-- Section-->
                <section class="py-5">
                    <div class="row">

                        @foreach (var p in Model?.Products ?? Enumerable.Empty<Product>())
                        {
                                <partial name="ProductSummary" model="p" />
                        }
                    </div>

                    <div page-model="@Model?.PagingInfo" page-action="Index" page-classes-enabled="true"
                         page-class="btn" page-class-normal="btn-ligh m-2"
                         page-class-selected="btn-primary m-2" page-url-category="@Model?.CurrentCategory!"
                         class="p-3">
                   </div>

                </section>
            </div>
        </div> 
    </div>
</div>