@model Product

@{
    var PathAndQuery = ViewContext.HttpContext.Request.QueryString.HasValue
            ? $"{ViewContext.HttpContext.Request.Path}{ViewContext.HttpContext.Request.QueryString}"
            : ViewContext.HttpContext.Request.Path.ToString();
}

<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
        <div class="card-body text-center d-flex flex-column">
            <p class="card-title"><a class="text-dark font-weight-bold" href="#!">@Model.Name</a></p>

            <h3 class="text-maroon">★ ★ ★ ★ ☆</h3>

            <p class="">@Model.Price.ToString("c")</p>
        
            <!-- Product actions-->
            <form id="@Model.ProductID" asp-action="AddToCart"
              asp-controller="Cart" method="post">
                <input type="hidden" asp-for="ProductID" />
                <input type="hidden" name="returnUrl" value="@PathAndQuery"/>

                <button class="btn btn-outline-dark mt-auto">В корзину</button>
            </form>
        </div>
    </div>
</div>